<!DOCTYPE html>
<html lang="pr-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Artesanal | Detalhes</title>
</head>

<body>
    <nav>
        <img src="/img/logo/logo.png" class="img-fluid gif" alt="logo pokedex">
        <ul>
            <li>
                <a href="/">Home</a>
            </li>
            <li>
                <a href="/cervejarias">Cervejarias</a>
            </li>
            <li>
                <a href="/cadastro-cerveja">Cadastro Cerveja</a>
            </li>
            <li>
                <a href="/cadastro-cervejaria">Cadastro Cervejaria</a>
            </li>
        </ul>
    </nav>


    <header>
        <h1> <%= cerveja.nome %></h1>        
    </header>

    <section id= "detalhes">
        <img src="<%= cerveja.imagem %>" height="500" alt="cerveja">
        <div id="infos">
            <p> 
                <%= cerveja.descricao %>
            </p>
            <div id="info-detalhes">
                <div class="col">
                    <h4>Teor Alcoolico: </h4>
                    <h3><%= cerveja.teor_alcoolico %></h3>
                    <h4>Tipo Cerveja: </h4>
                    <h3><%= cerveja.tipocerveja_id%></h3>
                    <h4>Cervejaria: </h4>
                    <h3><%= cerveja.cervejaria_id%></h3>
                </div>
                              
            </div>
            <br />
            <a href="/cervejadelete/<%=cerveja.id%>">Excluir</a>
            <a href="/cervejaedit/<%=cerveja.id%>">Editar</a>
        </div>
    </section>
</body>

</html>